.introduce-background{
    background-image: url("https://songnguyencontainer.com/upload/images/phan-loai-container-1.jpg");
    background-size: cover; /* Đảm bảo ảnh bao phủ toàn bộ khu vực */
    background-position: center; /* Căn giữa ảnh nền */
    background-repeat: no-repeat; /* Ngăn ảnh lặp lại */
    filter: blur(5px); /* Áp dụng hiệu ứng làm mờ */
}
