<div class="container mx-auto px-4 py-8">
    <!-- <h2 class="text-green-600 text-xl font-semibold text-center">🚀 {{'our-advantages-are-endless' | transloco}}</h2> -->
    <h1 class="text-4xl font-bold text-center mt-2">{{'quality-services-is-our-law' | transloco}}</h1>
    <p class="text-gray-600 mt-2 px-4 md:w-2/3 mx-auto text-center">
        {{'services-descriptions' | transloco}}
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-12 items-stretch">
        <div *ngFor="let service of services" class="bg-white rounded-xl border border-gray-200 shadow-lg overflow-hidden transform transition-all duration-300 hover:scale-[1.03] hover:-translate-y-2 hover:border-green-500 hover:shadow-xl hover:shadow-green-200 flex flex-col">
            <div class="relative h-60 w-full overflow-hidden">
                <img [src]="service.kind" class="absolute inset-0 w-full h-full object-cover rounded-t-xl" alt="{{ service.content }}">
            </div>
            <div class="p-6 flex flex-col flex-grow bg-green-500">
                <h3 class="text-2xl font-bold text-gray-900 mt-2 mb-2 flex justify-center">{{ service.id }}</h3>
                <p class="text-gray-700 text-base flex-grow flex justify-center">{{ service.content }}</p>
            </div>
        </div>
    </div>
</div>
